*{
  box-sizing: border-box;  
  margin: 0;
  padding: 0;
}

#main-cont {
   
    max-width: 2500px;
    height: 100vh;
}

#header {
    width: 90%;
    background-color: yellow;
    margin: 0 auto;
    height: 70px;
}

#header nav {
    height: 100%;
}

#header nav ul {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#header nav ul li {
    list-style: none;
}
#header nav ul li a {
    text-decoration: none;
}

/* Header 2 */

#header2 {
    /* position: relative; */
    margin-top: 30vh;
    width: 100%;
    /* top: 25vh; */
    
}

#header2 div {
    display: flex;
    align-content: center;
    width: 140px; 
    /* background-color: red;  */
    margin: 0 auto;
    
    
    
}

#header2 h1 {
    margin: 0 auto;
    text-align: center;
    font-family: serif;
    font-size: 3rem;
    margin-top: 20px;
    
}

#two-buttons {
    display: flex; 
    /* justify-content: center; */
    align-items: center;
    justify-content: space-between;
    /* height: 30px; */ 
}

#two-buttons h3 {
    text-align: center;
    margin-top: 3vh;
    font-size: small;
    width: 200px;
    
    
}

.discover-btn {
    align-self: center;
    padding: 3vh 3vw;
    background-color: gold;

}

.reserve-btn {
    position: relative;
    /* padding-top: 3vh; */
    left: 100px;
}



/* Flip Card For Buttons */

.flip-card {
    position: relative; 
    /* right: 60px; */
    background-color: transparent; 
    width: 100%;
    height: 100%;
    perspective: 1000px; 
}

.flip-card-inner {
    position: relative; 
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 2.0s;
    transform-style: preserve-3d;
}

.flip-card:hover .flip-card-inner {
    transform: rotateY(360deg);

}

.flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
}

.flip-card-front {
    /* background-color: greenyellow; */
    color: black;
}

.flip-card-back {
    /* background-color: royalblue; */
    color: white;
    transform: rotateY(360deg);
}

