*{
  box-sizing: border-box;  
  margin: 0;
  padding: 0;
}

#main-cont {
   
    max-width: 2500px;
    height: 100vh;
}

#header {
    width: 90%;
    background-color: yellow;
    margin: 0 auto;
    height: 70px;
}

#header nav {
    height: 100%;
}

#header nav ul {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#header nav ul li {
    list-style: none;
}
#header nav ul li a {
    text-decoration: none;
}

/* Header 2 */

#header2 {
    /* position: relative; */
     margin-top: 30vh; 
    /* width: 100%; */
    /* top: 25vh; */
    
}

#header2 #buttons-cont div {
    /* display: flex; */
    /* align-content: center; */
    /* width: 140px;  */
    /* background-color: red;  */
    /* margin: 0 auto; */
    
    
    
}

#header2 h1 {
    margin: 0 auto; 
    text-align: center;
    font-family: serif;
    font-size: 4rem;
    margin-top: 20px;
    
}

#buttons-cont {
  display: flex;
  justify-content: center; 
  align-items: center;
}

#two-buttons {
    /* display: flex;  */
    /* justify-content: center;  */
    /* align-items: center; */
    /* justify-content: space-between; */
    /* height: 30px; */ 
}

#two-buttons h3 {
    /* text-align: center; */
    /* margin-top: 3vh; */
    /* font-size: small; */
    /* width: 100%; */
    
    
}

.discover-btn {
    padding: 2vh 2vw;
}

.reserve-btn {
    position: relative;
    left: 5px;
    /* padding-top: 3vh; 
    left: 100px;   */
}



/* Flip Card For Buttons */

.flip-card {
    position: relative; 
    right: 25px; 
    background-color: transparent; 
    width: 100%;
    height: 100%;
    perspective: 1000px; 
}

#card-flip-cont {
    width: 170px;
    
}

.flip-card-inner {
    position: relative; 
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 2.0s;
    transform-style: preserve-3d;
}

.flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);

}

.flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
}

.flip-card-front {
     background-color: greenyellow; 
    color: black;
}

.flip-card-back {
    background-color: royalblue; 
    position: relative;
    color: white;
    transform: rotateY(180deg);
}

