*{
  box-sizing: border-box;  
  margin: 0;
  padding: 0;
}


/* Veriable Font Sizes */

:root {
    --large-font: 4rem;
    --medium-font: 2.5rem;
    --small-font: 2rem;
    --xsmall-font: 1.00rem;
    --xxsmall-font: .75rem;
}

/* Background Image */

#main-cont {
    /* position: relative;      */
    background-image: url('images/spotlight.jpeg');
    z-index: 1;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
     height: auto;  
    width: 100vw; 
    /* max-width: 2500px; */
    /* height: 100vh; */
    

}

.overlay {
    position: absolute;
    z-index: 3;
    height: 80px; 
    width: 70vw;
    background-color: rgba( 0, 0, 0, .25);
} 




#header {
    width: 90%;
    background-color: yellow;
    margin: 0 auto;
    height: 70px;
}


#header nav {
    height: 100%;
}

#header nav ul {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#header nav ul li {
    list-style: none;
}
#header nav ul li a {
    text-decoration: none;
}

/* Header 2 */

#header2 {
    position: relative; 
     margin-top: 40px; 
    /* width: 100%; */
    /* top: 25vh; */
    
}

#header2 img {
    /* position: relative;  */
    margin-left: 120px;
    margin-top: 70px;
    top: 60px;
    width: 75%;
    left: 15%;
    /* z-index: 2; */
}

#header2 #buttons-cont div {
    /* display: flex; */
    /* align-content: center; */
    /* width: 140px;  */
    /* background-color: red;  */
    /* margin: 0 auto; */
    
    
    
}

#header2 h1 {
    margin: 0 auto 2vh auto; 
    text-align: center;
    font-family: serif;
    font-size: 4vw;
    /* margin-top: 20px; */
    color: white;
    
}

#buttons-cont {
  display: flex;
  /* position: relative;  */
  bottom: 50vh;
  justify-content: center; 
  align-items: center;
}

#two-buttons {
    /* display: flex;  */
    /* justify-content: center;  */
    /* align-items: center; */
    /* justify-content: space-between; */
    /* height: 30px; */ 
}

#two-buttons h3 {
    /* text-align: center; */
    /* margin-top: 3vh; */
    /* font-size: small; */
    /* width: 100%; */
    
    
}

.discover-btn  {
    padding: 2vh 2vw;
}
.discover-btn:hover {
    cursor: pointer;
    color: rgba(255, 255, 255, 5);
    background-color: black;
}

.reserve-btn {
    /* position: relative; */
    left: 5px;
    color: white;
    /* padding-top: 3vh; 
    left: 100px;   */
}

.reserve-btn:hover {
    cursor: pointer;
    
   
}

#underline-movement {
    /* position: absolute;  */
    /* display: none; */
    border-bottom: 4px solid white;
    /* margin-top: 25px; */
    left: 670px;
    /* height: 5px; */
    width: 5px; 
    transition: width 2s;
}

#underline-movement:hover {
    /* display: block; */
    width: 105px;
    /* position: absolute; */
    cursor: pointer;
    /* animation: underline-movement 3s linear infinite; */
}
/* @keyframes underline-movement {
    from {
        width: 0;
    }
    to {
        width: 105px;
    }
    
} */





/* Flip Card For Buttons */

.flip-card {
    position: relative; 
    z-index: 4;
    right: 25px; 
    background-color: transparent; 
    width: 100%;
    height: 100%;
    perspective: 1000px; 
}

#card-flip-cont {
    width: 170px;
    
}

.flip-card-inner {
    position: relative; 
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 2.0s;
    transform-style: preserve-3d;
}

.flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);

}

.flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
}

.flip-card-front {
     background-color: lightgray; 
     opacity: .7;
    color: black;
}

.flip-card-back {
    background-color: royalblue; 
    opacity: .7;
    position: relative;
    color: white;
    transform: rotateY(180deg);
}

/* HEADER 3 */

#header3 {
    display: flex;
    position: relative;
    justify-content: space-evenly;
    align-items: center;
    width: 100vw;
    margin-top: 0px; 
     z-index: 4;
    color: white; 
}

#header3 div h3 {
 position: relative;   
/* font-size: var(--xsmall-font); */
font-size: 2vw;
text-align: center;

z-index: 4;
color: white; 


}

#header3 div h1 {
    position: relative;
    /* padding-top: 10px; */
    /* font-size: var(--medium-font); */
    font-size: 3vw;
    text-align: center;
    z-index: 4;
    color: white;
} 
